- Pandas는 Numpy의 고성능 배열 계산 기능과 스프레드시트, SQL과 같은 관계형 데이터베이스의 데이터 조작 기능을 조합한 것.

- Pandas는 series와 dataframe자료구조를 제공.
  - Series

In [2]:
import pandas as pd

# Series
1차원 배열 + index
index : values를 선택할 때 주소 역할을 하는  배열(값이 모두 달라야 함)
values: 데이터 부분에 해당하는 배열
1차원 배열 vs Series : list vs dictionary 와 비슷

## 1. Series의 생성

In [3]:
names1 = ['철수', '영이', '길동', '미영', '순이', '철이']
score1 = [84, 21, 87, 100, 59, 46]

In [6]:
s = pd.Series(score1)
s

0     84
1     21
2     87
3    100
4     59
5     46
dtype: int64

In [ ]:
%whos

In [ ]:
type(s)

In [10]:
s1 = pd.Series(score1, index= names1)
s1

철수     84
영이     21
길동     87
미영    100
순이     59
철이     46
dtype: int64

In [12]:
%whos

Variable   Type      Data/Info
------------------------------
names1     list      n=6
pd         module    <module 'pandas' from '/u<...>ages/pandas/__init__.py'>
s          Series    0     84\n1     21\n2    <...>9\n5     46\ndtype: int64
s1         Series    철수     84\n영이     21\n길동 <...>\n철이     46\ndtype: int64
score1     list      n=6

In [17]:
print(type(s1))
print(s1.ndim)
print(s1.shape)
print(s1.index)
print(s1.values)

<class 'pandas.core.series.Series'>
1
(6,)
Index(['철수', '영이', '길동', '미영', '순이', '철이'], dtype='object')
[ 84  21  87 100  59  46]

In [20]:
dic = {'철수' : 84, '영희':21, '길동':87, '미영':100, '순이': 59, '철이':46}
s = pd.Series(dic)
s

철수     84
영희     21
길동     87
미영    100
순이     59
철이     46
dtype: int64

In [21]:
%whos

Variable   Type      Data/Info
------------------------------
dic        dict      n=6
names1     list      n=6
pd         module    <module 'pandas' from '/u<...>ages/pandas/__init__.py'>
s          Series    철수     84\n영희     21\n길동 <...>\n철이     46\ndtype: int64
s1         Series    철수     84\n영이     21\n길동 <...>\n철이     46\ndtype: int64
score1     list      n=6

In [24]:
names2 = ['길동', '철수', '영이','철이', '순이', '미영']
scores2 = [99,87,87,84,77,15]

s2 = pd.Series(scores2, index=names2)
s2

길동    99
철수    87
영이    87
철이    84
순이    77
미영    15
dtype: int64

## 2. Series의 연산

numpy의 array 간 덧셈 : score1 +  score2 -> 같은 위치의 원소끼리더함

In [31]:
print(s1+10)        #broadcating 기능  , 연산

print(s1+s2)        # 인덱스 정렬 후 덧셈

print(s1-s2)        # 

print((s1+s2)/2)

철수     94
영이     31
길동     97
미영    110
순이     69
철이     56
dtype: int64
길동    186
미영    115
순이    136
영이    108
철수    171
철이    130
dtype: int64
길동   -12
미영    85
순이   -18
영이   -66
철수    -3
철이   -38
dtype: int64
길동    93.0
미영    57.5
순이    68.0
영이    54.0
철수    85.5
철이    65.0
dtype: float64

In [ ]:
score3  = [86, 88, 90, 45, 93, 82]
s3 = 
s3

In [ ]:
['cat', 'dog', 'rabbit']
s

## DataFrame

## ◆ DataFrame의 생성
### (1) Series를 이용하여 생성

### (2) 데이터 직접 넣어 생성: 
#### ① index와 columns 지정 없을 때

In [ ]:
scores = [[84, 87, 78], [21, 15, 84], [87, 84, 76], 
          [100, 87, 99], [59, 99, 59], [46, 77, 56]]

#### ② index와 columns 지정 있을 때

In [ ]:
scores = [[84, 87, 78], [21, 15, 84], [87, 84, 76], [100, 87, 99], [59, 99, 59], [46, 77, 56]]
names = ['철수', '영이', '길동', '미영', '순이', '철이']
lectures =  ['국어','영어', '수학']

#### ③ dictionary를 사용할 때

In [ ]:
oresWithLectures = {  : [84, 21, 87,100, 59, 46],
                       : [87, 15, 84, 87, 99, 77],
                       : [78, 84, 76, 99, 59, 56]}

In [ ]:
=['학생1','학생2','학생3','학생4','학생5','학생6']

In [ ]:
['과목1', '과목2', '과목3']

## ▶ 파일 처리

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

PATH= '/content/drive/MyDrive/ICTIS_2023/data/'

## ▶ 응용

In [ ]:
names1  =  ['철수', '영이', '길동', '미영', '순이', '철이']

columns= ['성별', '점수']

scores = [['M', 45], ['F', 100], ['M', 70], ['F', 85], ['F', 100], ['M', 97]]

d2 =

In [ ]:
df = pd.read_csv( "boston_house_price.csv", index_col= )
df

## ▶ 유용한 데이터 전처리

In [ ]:
d = pd.read_csv(PATH+'scores.csv', index_col=0)