In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#userTable 테이블 만들고 저장
import sqlite3

con = sqlite3.connect('/content/drive/MyDrive/ICTIS_2023/data/myDB')

cur = con.cursor()
cur.execute(" userTable (id char(4), userName char(15), email char(15), birthYear int)")

cur.execute(" userTable VALUES ('john', 'John Bann',  'john@naver.com', 1995)")
cur.execute(" userTable VALUES ('kim', 'Kim Chi',  'kim@daum.net', 1998)")
cur.execute(" userTable VALUES ('lee', 'Lee Chingu',  'lee@gmail.com', 2000)")
cur.execute(" userTable VALUES ('park', 'Park Su',  'park@hotmail.com', 1997)")
con.commit()
con.close()

In [ ]:
# userTable  테이블의 내용 읽어와서 출력
import sqlite3

con, cur = None, None

con = sqlite3.connect("/content/drive/MyDrive/ICTIS_2023/data/myDB")
cur = con.cursor()

cur.execute(" ")

print("사용자ID     사용자이름       이메일        출생연도")
print("----------------------------------------------------")
while True:
    row = cur.fetchone()
    if row == None: break

    print("%-10s  %-15s  %-15s  %-d" % 
          (row[0], row[1], row[2], row[3]))

con.close()

In [ ]:
# productTable 테이블 만들고 저장
import sqlite3

con = sqlite3.connect('/content/drive/MyDrive/ICTIS_2023/data/myDB')

cur = con.cursor()
cur.execute("CREATE TABLE  (pCode char(5), pName char(20), \
             price int, amount int)")

cur.execute("INSERT INTO productTable VALUES('p0001', '노트북', 1200000, 25)")
cur.execute("INSERT INTO productTable VALUES('p0002', '마우스', 10000, 300)")
cur.execute("INSERT INTO productTable VALUES('p0003', '키보드', 14000, 100)")

con.commit()

In [ ]:
# productTable 이블의 내용 읽어와서 출력
import sqlite3

con, cur = None, None
con = sqlite3.connect('/content/drive/MyDrive/ICTIS_2023/data/myDB')

cur = con.cursor()
cur.execute("""SELECT * FROM productTable""")

print("제품ID     제품이름            가격        수량")
print("------------------------------------------------------")
while True:
    row = cur.fetchone()
    if row == None:
        break

    print("%-10s  %-15s  %-10d  %-d" % 
          (row[0], row[1], row[2], row[3]))

con.close()

In [ ]:
# productTable 테이블에서 제한된 조건을 만족하는 내용 읽어와서 출력
import sqlite3

con, cur = None, None
con = sqlite3.connect('/content/drive/MyDrive/ICTIS_2023/data/myDB')

cur = con.cursor()
cur.execute("""SELECT * 
               FROM productTable   
                """)

print("제품ID     제품이름            가격        수량")
print("------------------------------------------------------")
while True:
    row = cur.fetchone()
    if row == None:
        break

    print("%-10s  %-15s  %-10d  %-d" % 
          (row[0], row[1], row[2], row[3]))

con.close()

In [ ]:
# salesTable 테이블 만들고 저장
import sqlite3
con = sqlite3.connect('/content/drive/MyDrive/ICTIS_2023/data/myDB')
cur = con.cursor()

cur.execute("CREATE TABLE  ( id char(4), pCode char(5), \
            saleYear int, saleAmount int)")

cur.execute("INSERT INTO salesTable VALUES('john', 'p0002', 2020, 1)")
cur.execute("INSERT INTO salesTable VALUES('kim', 'p0002', 2019, 2)")
cur.execute("INSERT INTO salesTable VALUES('lee', 'p0003', 2020, 1)")
cur.execute("INSERT INTO salesTable VALUES('park', 'p0002', 2019, 2)")
cur.execute("INSERT INTO salesTable VALUES('park', 'p0001', 2020, 1)")
cur.execute("INSERT INTO salesTable VALUES('park', 'p0002', 2021, 3)")
cur.execute("INSERT INTO salesTable VALUES('kim', 'p0001', 2021, 2)")
con.commit()
con.close()

In [ ]:
# salesTable 테이블의 내용 읽어와서 출력
import sqlite3

con, cur = None, None
con = sqlite3.connect('/content/drive/MyDrive/ICTIS_2023/data/myDB')

cur = con.cursor()
cur.execute("""SELECT * 
               FROM salesTable """)

print("사용자ID     제품ID       판매연도     판매수량")
print("------------------------------------------------------")
while True:
    row = cur.fetchone()
    if row == None:
        break

    print("%-10s  %-15s  %-10d  %-d" % 
          (row[0], row[1], row[2], row[3]))

con.close()

In [ ]:
# 테이블의 내용 읽어와서 출력
import sqlite3

con, cur = None, None
con = sqlite3.connect('/content/drive/MyDrive/ICTIS_2023/data/myDB')

cur = con.cursor()
cur.execute("""SELECT * 
               FROM salesTable
                pCode, saleYear""")

print("사용자ID     제품ID       판매연도     판매수량")
print("------------------------------------------------------")
while True:
    row = cur.fetchone()
    if row == None:
        break

    print("%-10s  %-15s  %-10d  %-d" % 
          (row[0], row[1], row[2], row[3]))

con.close()

In [ ]:
import sqlite3

con, cur = None, None
data1, data2, data3, data4 = "","","",""
sql = ""

con = sqlite3.connect("/content/drive/MyDrive/ICTIS_2023/data/myDB")
cur = con.cursor()

cur.execute("""SELECT pCode,   ,  
             salesTable
             pCode""")

print("제품ID     판매건수   총판매량   ")
print("--------------------------------")
while True:
    row = cur.fetchone()
    if row == None: break

    data1 = row[0]
    data2 = row[1]    
    data3 = row[2]
    print("%-10s  %-10d  %-d" % (data1, data2, data3))

con.close()

In [ ]:
import sqlite3

con, cur = None, None

con = sqlite3.connect("/content/drive/MyDrive/ICTIS_2023/data/myDB")
cur = con.cursor()

cur.execute("""SELECT userTable.userName, productTable.pName, salesTable.saleYear, 
         salesTable.saleAmount, userTable.email
          userTable, productTable, salesTable
         userTable.id = salesTable.id   productTable.pCode = salesTable.pCode  """)


print("고객명      제품명      판매연도     판매수량      고객이메일")
print("------------------------------------------------------------")
while True:
    row = cur.fetchone()
    if row == None: break

    print("%-10s  %-10s  %-10d  %-10d %s" % 
          (row[0], row[1], row[2], row[3],row[4]))

con.close()

In [ ]:
import sqlite3

con, cur = None, None

con = sqlite3.connect("/content/drive/MyDrive/ICTIS_2023/data/myDB")
cur = con.cursor()

cur.execute("""SELECT userTable.userName, productTable.pName, salesTable.saleYear, 
         salesTable.saleAmount, userTable.email
          userTable, productTable, salesTable
         userTable.id = salesTable.id AND productTable.pCode = salesTable.pCode  """)


print("고객명      제품명      판매연도     판매수량      고객이메일")
print("------------------------------------------------------------")
while True:
    row = cur.fetchone()
    if row == None: break

    print("%-10s  %-10s  %-10d  %-10d %s" % 
          (row[0], row[1], row[2], row[3],row[4]))

con.close()