In [ ]:
%config Completer.use_jedi = False

## 디폴트 인자(default argument, = 기본 인자) : 
- 함수의 매개변수는 기본값을 가질 수 있다.
- 인자가 부족하면 기본값을 채워준다.

In [ ]:
def greet(name, msg ):
    print('안녕', )

In [ ]:
greet('길동', '좋은 아침!!')

In [ ]:
greet('길산')

In [ ]:
greet('길산', '좋은 아침~')

## keyword argument :
- 매개 변수 이름을 지정해서 값을 전달하는 방식

In [ ]:
def calc(x, y, z):
    return x+y+z

## 가변 인자
- 몇 개의 인자를 받을지 정해지지 않은 인자
- 파이썬에서는 가변 인자를 받을 때 * (Asterisk) 을 붙여서 받는다.
- 입력받는 전달 인자의 개수에 상관없음

In [ ]:
def sum_all( ):
    result = 0
    
    for i in args:
        result += i
    return result

sum_all(1,2,3,4,5,6,7,8,9,10)

## 키워드 가변 인자: 키워드 + 가변 
- ** 을 사용
- dictionary 형태로 입력

In [ ]:
def dic_text( ):
    print( )

In [ ]:
dic_text(   )

## 함수는 객체

In [ ]:
def func(dx, dy):
    '''이것은 여러줄 
    주석입니다. 
    함수의 도움말'''
    dx, dy = dy, dx
    return dx, dy

In [ ]:
def wow(text):
    return text.upper()

### Python 함수는 객체이므로 자료구조 속에 넣을 수 있음

In [ ]:
flst = [oh, str.lower, str.capitalize]

In [ ]:
flst

In [ ]:
for x in flst:

### split()함수와 join() 함수

In [ ]:
color = ['blue', 'red', 'yellow', 'green']

## lambda 함수 
- 한 줄짜리 함수
- 콜론(:)을 경계로 앞 : 매개변수 /  뒤 : 표현식(반환값)
- return문 필요 없고, 표현식 실행 결과가 자동 반환됨

In [ ]:
a =

In [ ]:
a(10,10)

## higher-order function
- Python은 함수를 전달인자로 넘겨줄 수 있음

In [ ]:
def greet(  ):
    greeting =  ('hi, I love python')
    print(greeting)

## map 함수
- map(f, iterable)
- 모든 자료에 대해 순차적으로 수행됨

In [ ]:
list(       ['hi', 'hello', 'welcome']  )

## reduce 함수

In [ ]:
from functools import reduce

## filter 함수
- 반복 가능한 객체에서 지정한 함수의 반환 값이 True인 요소만 골라냄

In [ ]:
list(         )

In [ ]:
list(        )

### 내부 함수

In [ ]:
def speak (text):
    def wow(t):
        return t.lower()
    return wow(text)

In [ ]:
def get_speak_wow(volume):
    def wow(text):
        return text.lower()
    def oh(text):
        return text.upper()
    
    if volume > 0.5:
        return oh
    else:
        return wow

In [ ]:
speak_func = get_speak_wow(0.8)

In [ ]:
def math_func1(x, y, op):
    def add_():
        return 
    def sub_():
        return 
    def mul_():
        return 
    def div_():
        return

In [ ]:
math_func1(   )

### 클로져

In [ ]:
def get_speak_func(text, volume):
    def wow():
        return text.lower()
    def oh():
        return text.upper()
    
    if volume > 0.5:
        return oh
    else:
        return wow

In [ ]:
get_speak_func

## enumerate() 함수
- List의 요소를 추출할 때 번호를 붙여서 추출

In [ ]:
mylist=['a', 'b', 'c', 'd']

In [ ]:
for

## zip() 함수
- list/tuple 들에서 같은 위치에 있는 값을 병렬적으로 추출함

## *의 기능
1. 수치형자료의곱셈
2. 문자열 or 리스트의 반복
3. a, *b, c = 1,2,3,4,5
4. 가변인자
5. 키워드 가변인자
6. upzip , unpack

In [1]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

In [5]:
c = zip (alist, blist)
d,e = zip(*c)

print(d,e)

type (c)

('a1', 'a2', 'a3') ('b1', 'b2', 'b3')

zip

In [ ]:
for

## 리스트 조건 제시법 List Comprehension
- for 반복을 사용하여 자동으로 리스트를 생성하는 방법

In [7]:
import random

In [9]:
rlst=[]
for x in  range(6) :
    rlst.append(random.randint(1, 45))
else:
    print(rlst)

[37, 23, 17, 4, 20, 45]

In [10]:
[random.randint(1,45) for x in range(6) ]

[21, 35, 33, 45, 32, 39]

In [12]:
 [int (input('정수를 입력')) for i in range(5)]

정수를 입력1
정수를 입력3
정수를 입력6
정수를 입력7
정수를 입력8

[1, 3, 6, 7, 8]

In [11]:
[ i**3 for i in range(10)  ]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [21]:
list('가나다라마바사아자차카타파하')

# dict Comprehension
{ char : idx for idx, char in enumerate(list('가나다라마바사아자차카타파하')) }

{'가': 0,
 '나': 1,
 '다': 2,
 '라': 3,
 '마': 4,
 '바': 5,
 '사': 6,
 '아': 7,
 '자': 8,
 '차': 9,
 '카': 10,
 '타': 11,
 '파': 12,
 '하': 13}

## iterable 객체 : 반복(순환) 가능한 객체
- 대표적 iterable 객체 타입 : range(), map()함수 
-반복자(iterator): 함수 next() : iterator를 입력 받아 다음 출력 값을 반환

In [ ]:
lst=[1,2,3]
result =

## Generator
- Iterable 자료를 생성하는 함수
- next() 함수 사용해서 자료에 접근

In [31]:
def one_to_infinite():
    # 1 ~ 무한대의 자연수가 순서대로 나오는 생성기
    n = 1
    while True:
        yield n
        n += 1

In [33]:
natural_number = one_to_infinite()

In [36]:
next(natural_number)

2

In [37]:
next(natural_number)

TypeError: ignored

### Generator expression
- iterable 자료를 생성하는 식

In [24]:
k = (x for x in range(10))

In [ ]:
next(k)

In [27]:
next(k)

2

##  리스트와 iterable 객체의 차이점

In [22]:
# 리스트 컴프렌션

def input_order(n):   # 리스트를 만들어 반환
    return [input('음료 주문하세요:')  for x in range(n)] 

# 음료 3개 입력받아 각 음료 제조를 요청
for drink in input_order(3):
    print(drink, '만들어주세요..')

음료 주문하세요:아
음료 주문하세요:이
음료 주문하세요:스
아 만들어주세요..
이 만들어주세요..
스 만들어주세요..

In [23]:
# 제네레이터 

def input_order(n):   # 리스트를 만들어 반환
    return (input('음료 주문하세요:')  for x in range(n))

# 음료 3개 입력받아 각 음료 제조를 요청
for drink in input_order(3):
    print(drink, '만들어주세요..')

음료 주문하세요:3
3 만들어주세요..
음료 주문하세요:2
음료 주문하세요:1
2 만들어주세요..
1 만들어주세요..