In [ ]:
import pandas as pd

# Series

## 1. Series의 생성

In [ ]:
names1 = ['철수', '영이', '길동', '미영', '순이', '철이']
score1 = [84, 21, 87, 100, 59, 46]

In [ ]:
s1 =

In [ ]:
s1

## 2. Series의 연산

In [ ]:
score3  = [86, 88, 90, 45, 93, 82]
s3 = 
s3

In [ ]:
['cat', 'dog', 'rabbit']
s

## DataFrame

## ◆ DataFrame의 생성
### (1) Series를 이용하여 생성

### (2) 데이터 직접 넣어 생성: 
#### ① index와 columns 지정 없을 때

In [ ]:
scores = [[84, 87, 78], [21, 15, 84], [87, 84, 76], 
          [100, 87, 99], [59, 99, 59], [46, 77, 56]]

#### ② index와 columns 지정 있을 때

In [ ]:
scores = [[84, 87, 78], [21, 15, 84], [87, 84, 76], [100, 87, 99], [59, 99, 59], [46, 77, 56]]
names = ['철수', '영이', '길동', '미영', '순이', '철이']
lectures =  ['국어','영어', '수학']

#### ③ dictionary를 사용할 때

In [ ]:
oresWithLectures = {  : [84, 21, 87,100, 59, 46],
                       : [87, 15, 84, 87, 99, 77],
                       : [78, 84, 76, 99, 59, 56]}

In [ ]:
=['학생1','학생2','학생3','학생4','학생5','학생6']

In [ ]:
['과목1', '과목2', '과목3']

## ▶ 파일 처리

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

PATH= '/content/drive/MyDrive/ICTIS_2023/data/'

## ▶ 응용

In [ ]:
names1  =  ['철수', '영이', '길동', '미영', '순이', '철이']

columns= ['성별', '점수']

scores = [['M', 45], ['F', 100], ['M', 70], ['F', 85], ['F', 100], ['M', 97]]

d2 =

In [ ]:
df = pd.read_csv( "boston_house_price.csv", index_col= )
df

## ▶ 유용한 데이터 전처리

In [ ]:
d = pd.read_csv(PATH+'scores.csv', index_col=0)