In [ ]:
%config Completer.use_jedi = False

# 반복문 while
- 반복(iteration)은 동일한 문장을 여러 번 반복시키는 구조
- 조건식이 True인 동안 실행문장을 반복함

In [ ]:

    print ('파이썬은 즐거워')
   
print('count= ', count)

# 반복문 for
- 범위의 처음부터 끝까지 반복함
- 범위: 리스트, range, 튜플, 문자열  등

In [4]:
import random
number = random.randint(1, 10)

for count in range(1, number+1)  :
      print ('나무를', count, '번 찍었습니다.', '딱! ' *count)

print('넘어가즈아~~~')

나무를 1 번 찍었습니다. 딱!
나무를 2 번 찍었습니다. 딱! 딱!
나무를 3 번 찍었습니다. 딱! 딱! 딱!
나무를 4 번 찍었습니다. 딱! 딱! 딱! 딱!
나무를 5 번 찍었습니다. 딱! 딱! 딱! 딱! 딱!
나무를 6 번 찍었습니다. 딱! 딱! 딱! 딱! 딱! 딱!
넘어가즈아~~~

In [9]:
import random
number = random.randint(1, 10)

for count in range(1, number+1) :
      print ('나무를', count, '번 찍었습니다.', '딱! ' *count)
else :
    print('앗! 곰이 나타났네요;;;')

나무를 1 번 찍었습니다. 딱!
나무를 2 번 찍었습니다. 딱! 딱!
나무를 3 번 찍었습니다. 딱! 딱! 딱!
나무를 4 번 찍었습니다. 딱! 딱! 딱! 딱!
나무를 5 번 찍었습니다. 딱! 딱! 딱! 딱! 딱!
나무를 6 번 찍었습니다. 딱! 딱! 딱! 딱! 딱! 딱!
나무를 7 번 찍었습니다. 딱! 딱! 딱! 딱! 딱! 딱! 딱!
나무를 8 번 찍었습니다. 딱! 딱! 딱! 딱! 딱! 딱! 딱! 딱!
앗! 곰이 나타났네요;;;

In [1]:
import time
for i  in 'Hello world!':
    print (i, end='.'  )
    time.sleep(1)

H.e.l.l.o. .w.o.r.l.d.!.

In [11]:
#구구단 예제 1
i=2
for j in range(1, 10):
    print(i, '*', j, '=', i*j  )

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [14]:
#구구단 예제 2
for  i in range(2,10):
    print ('='*3, i, '단', '='*3 )
    for  j in range(1,10):
        print(i, '*', j, '=', i*j  )

=== 2 단 ===
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
=== 3 단 ===
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
=== 4 단 ===
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
=== 5 단 ===
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
=== 6 단 ===
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
=== 7 단 ===
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
=== 8 단 ===
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
=== 9 단 ===
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 반복문 + 리스트 실습: 로또 번호 생성기

In [28]:
import random
print('로또')

lottoList = []

for i in range(6):
    number = random.randint(1,45)
    lottoList.append(number)

print('오늘의 당첨 번호', lottoList)

로또
오늘의 당첨 번호 [2, 2, 2, 3, 2, 3]

In [57]:
# 도전! 생성된 로또 번호에 중복이 나타나지 않도록 프로그램을 작성하시오.
import random
print('로또')

lottoList = []

while len(lottoList) < 6:
    number = random.randint(1, 45)
    if not number in lottoList:
        lottoList.append(number)

print('오늘의 당첨 번호', lottoList)

로또
오늘의 당첨 번호 [10, 39, 7, 26, 17, 1]

In [62]:
# 도전! 생성된 로또 번호에 중복이 나타나지 않도록 프로그램을 작성하시오.
import random
print('로또')

randomList = list(range(1, 46))
random.shuffle(randomList)

print('오늘의 당첨 번호', randomList[0: 6])

로또
오늘의 당첨 번호 [31, 19, 22, 16, 38, 2]

In [76]:
def mean(x):
    return sum(x)/len(x)
print(mean([1,2,3,4,5]))
print(mean(range(1,6)))

3.0
3.0

In [77]:
import numpy as np

a = np.array([1,2,3])
b = np.array([4,5,6])
print(a+b)

[5 7 9]

# 논리, in, is

In [63]:

all()

SyntaxError: ignored

In [66]:
T = True
F = False

In [67]:
T and T

True

In [ ]:
T or T

In [73]:
a = any([True, False, False]) # 하나라도 참이면 결과는 참
print (a)

b = all([True, False, False]) # 모두 참이여야 만 결과는 참
print (b)

True
False

In [ ]:
# x는 1과 같고  y는 3과 같다

In [ ]:
# x는 y와 같거나 z와 같다

In [ ]:
# x는 2도 아니고 3도 아니고 4도 아니다

In [ ]:
# x는 2이거나 3 이거나 4이다

In [ ]:
if [ ]:
     print('True')
else:
     print('False')

In [ ]:
a=3

In [ ]:
a=1
b=1
a is b

# 가위-바위-보 게임

In [5]:
#실습1 
#- 컴퓨터가 0~2 사이의 하나의 난수를 생성해 변수 

import random

number = random.randint(0,2)

rspList = ['가위','바위','보']
comHand = rspList[number]
print('컴퓨터 손 : ' + comHand)

컴퓨터 손 : 보

In [22]:
#실습1 
#- 컴퓨터가 0~2 사이의 하나의 난수를 생성해 변수 

import random

number = random.randint(0,2)

rspList = ['가위','바위','보']
comHand = rspList[number]

while True: 
    playerHand = input('가위 바위 보 중 하나를 입력하세요:')
    if playerHand in rspList :
        break

win = 'computer'
if (comHand == playerHand) :
    win = 'tie'
elif (comHand == '가위' and playerHand == '바위') or (comHand == '바위' and playerHand == '보')  or (comHand == '보' and playerHand == '가위'):
    win = 'player'

print('승리:', win)
print('컴퓨터손 : ', comHand, ', 플레이어손 : ', playerHand)

가위 바위 보 중 하나를 입력하세요:보
승리: player
컴퓨터손 :  바위 , 플레이어손 :  보

In [39]:
import random


win = ''
winCount = 0
while win != 'computer':
    number = random.randint(0,2)
    rspList = ['가위', '바위','보']
    comHand = rspList[number]

    while True :
        playerHand = input('${rspList} 중에 하나를 입력하세요:')
        if playerHand in rspList:
            break

    win = 'computer'
    if (comHand == playerHand) :
        win = 'tie'
    elif (comHand == '가위' and playerHand == '바위') or (comHand == '바위' and playerHand == '보')  or (comHand == '보' and playerHand == '가위'):
        win = 'player'
        winCount += 1
    
    print('승리:', win, '!!', winCount , '연승')
    print('컴퓨터손 : ', comHand, ', 플레이어손 : ', playerHand)

SyntaxError: ignored

# tuple

순서가 있는 원소들의 묶음.
리스트와 혼동하기 쉬운데 단순한

괄호없이도 쓸 수 있음.

소괄호로 사용

() tuple 
[] list
{} dict

In [40]:
a= (1,2,3,4,5)
a

(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [43]:
b=tuple(range(1,11))
b

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [44]:
b[3]

4

In [47]:
b[2:5]
b.count(7)
b.index(7)

6

In [56]:
x = 1,
x

(1,)

In [ ]:
type(x)
len(x)

In [57]:
x=1,2
x

(1, 2)

In [65]:
x,y = 1,2
print(x, y)
print(type(x), type(y))

1 2
<class 'int'> <class 'int'>

In [ ]:
x=(1,)
type(x)

In [74]:
x=1,(2,3)
x
len(x)
x, (y,z)=1,(2,3)
print(x,y,z)

1 2 3

In [80]:
a, *b, c = 1,2,3,4,5
print(a)
print(b)
print(c)

1
[2, 3, 4]
5

In [79]:
a, _ = 1,2
a

1

# 딕셔너리
- 사전식 자료 관리
- key와 value 쌍으로 이루어진 자료구조
- 딕셔너리는 중괄호{ }로 묶여 있음
- key를 인덱스로 사용

In [114]:
a={'a' : 1, 'b': 2}
print(a)

{'a': 1, 'b': 2}

In [115]:
len(a)

2

In [116]:
# 빈 딕셔너리 생성
a = dict()
b = {}
type (a)

dict

In [117]:
phone_book={'신사임당': '010-1234-5678', '홍길동': '010-4532-4532'}
phone_book

{'신사임당': '010-1234-5678', '홍길동': '010-4532-4532'}

In [118]:
# 딕셔너리에 원소의 추가: 대입문, key를 인덱스로 사용
phone_book['이순신2']= '010-0987-6543'
phone_book

#딕셔너리 원소에 대한 섹세스 및 검색: key 를 사용
print(phone_book['이순신'])

print('이순신' in phone_book)
print('강감찬' in phone_book)
print(phone_book.get('이순신'))
print(phone_book.get('강감찬'))
#print(phone_book['강감찬']) //ERROR

KeyError: ignored

In [ ]:
print(phone_book.keys())
print(phone_book.values())

In [ ]:
c = dict( one=1, two=2, three=3)
c

In [ ]:
phone_book[ ]

In [ ]:
'이순신'

In [ ]:
for i in phone_book :
    print(i)

In [ ]:
for i in phone_book.keys() :
    print(i)

In [ ]:
for i in phone_book.values() :
    print(i)

In [ ]:
for i in phone_book.items() :
    print(i)

In [ ]:
for i,j in phone_book.items() :
    print(i, j)

In [119]:
for i in phone_book:
    print(i)
else:
    print('end')

신사임당
홍길동
이순신2
end

In [120]:
phone_book.clear()
phone_book

{}

### 집합
- set 은 순서가 없으며, 수정이 가

In [121]:
a = {1,2,3,4,5}
a

{1, 2, 3, 4, 5}

In [122]:
a.add(6)

In [123]:
a.remove(5)

In [128]:
a.pop()

4

In [129]:
b=set([1,1,4,2,2,6,6,6,6,7,8,10,4,2,8,6,3])

In [ ]:
import pandas as pd
a = [1, 3, 5]
b = pd.Series(a)
print(b)

In [ ]:
import pandas as pd
n1 = ['철수','영이','길동']
scr1 = [84,21,87]
n2 = ['길동', '철수','영이']
scr2 = [99, 87, 87]
s1 = pd.Series(scr1, index=n1)
s2 = pd.Series(scr2, index=n2)
d = pd. DataFrame()
d['국어'] = s1
d['영어'] = s2
d['합'] = d['국어']  + d['영어']
print(d)